<div class="container-fluid">

  <div class="row">
    <div class="col-md-auto">
      <h1>Institutos</h1>
    </div>
    <div class="col-md-auto d-flex align-items-center">
      <button (click)="addInstituto()" type="button" class="btn btn-outline-primary bi bi-plus-lg">Añadir un
        instituto</button>
    </div>
  </div>



  <div class="row g-2 form-group has-search">
    <div class="col-9">
      <input [(ngModel)]="searchValue" id="searchBar" type="text" class="form-control" placeholder="Buscar por id">
    </div>
    <div class="col-md-auto">
      <button (click)="searchInstituto(searchValue)" id="searchId" type="button"
        class="btn btn-outline-primary bi bi-search ">
        Buscar
      </button>
    </div>
    <div class="col-md-auto">
      <button (click)="obtainInstitutos()" type="button" class="btn btn-outline-primary">
        Obtener todos
      </button>
    </div>
  </div>

  <div class="list-group mt-2">

    <div ngbAccordion>
      <div ngbAccordionItem *ngFor="let instituto of institutos">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{instituto.nombre}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="row">
                <div class="col-md-6">
                  <p>Id: {{instituto.id}}</p>
                  <p>Direccion1: {{instituto.direccion1}}</p>
                  <p>Direccion2: {{instituto.direccion2}}</p>
                </div>

                <div class="col-md-6">
                  <p>Localidad: {{instituto.localidad}}</p>
                  <p>Codigo postal: {{instituto.codigoPostal}}</p>
                  <p>Pais: {{instituto.pais}}</p>
                </div>

              </div>

              <div class="row">
                <div class="col-md-auto">
                  <button (click)="deleteInstituto(instituto.id)" id="deleteButton" type="button"
                    class="btn btn-outline-danger">Eliminar
                    instituto</button>
                </div>
                <div class="col-md-auto">
                  <button (click)="updateInstituto(instituto)" type="button" class="btn btn-outline-primary">Editar
                    instituto</button>
                </div>

              </div>

            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>